.text-left
  - @documents.each do |doc|
    = image_tag(doc.signature)
    = doc.signed_on
= form_for @document do |f|
  = f.hidden_field :signature, as: :hidden, class: 'signature_pad_input'
  .signature_pad.text-center
    .signature_pad_body
      %canvas
    .signature_pad_footer
      .text-muted Sign above
      %button.btn.btn-default.signature_pad_clear{:type => "button"} Clear
      = f.submit 'Save', class: 'btn btn-success signature_pad_save'
